:root {
  --main-fullblack: #000000;
  --main-black: #383838;
  --main-white: #ffffff;
  --main-gray: #6D6D6D;
  --main-purple: #c1c4f4;
  --main-cyan: #2FD0C8;
}
*,
html,
body {
  font-family: 'Neutra Text', sans-serif;                         
}

/* Анимация появления и исчезновения иконок */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  20% {
    opacity: 0;
    transform: scale(0.8);
  }
  30% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 0;
  }
}

/* Все иконки используют одну и ту же анимацию */
.icon-animation img {
  animation: fadeInOut 16s ease-in-out infinite;
}